{% if is_user_registered == False %}
<h1>Invalid User Credentials!</h1>
<p>Check if the username and password are correct</p>

{% else %}
<h1>User Password Successfully Updated!</h1>
<p>
  The password for {{first_name}} {{last_name}} has been successfully updated!
</p>

{% endif %}
